<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

  <title>Signin Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="signin.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]>
  <script src="ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<div class="container" >
<%= form_tag :action => :login,:class => 'form-signin' do %>
    <h2 class="form-signin-heading">Please sign in</h2>
    <table width="300px" >
      <tr>
        <td><%= text_field_tag "name", flash[:name], :id => "name",:class => 'form-control',:placeholder=> 'usernames'%></td>
      </tr>
      <tr>
        <td><%= password_field_tag 'password', nil, :id => "password",:class=>"form-control", :placeholder=>"Password" %></td>
      </tr>
      <tr>
        <label><%= check_box_tag 'remember-me' %> Remember me</label>
      </tr>
      <tr>
        <td><%= submit_tag 'sign in',:class => 'btn btn-lg btn-primary btn-block' %></td>
      </tr>
    </table>
<% end %>
</div> <!-- /container -->
</body>
</html>
